<?xml version="1.0" encoding="UTF-8"?>


<configuration>

    <connectionStrings>
      <!-- 

        Example :
        <add name="RegistrationConnectionString"
            connectionString= "Server=RITWICK\LOCALSQLSERVER; Database=UserDB; User ID=sa; Password=********" 
            providerName="System.Data.SqlClient" />

            Fill the connection String below. 
      -->
      <add name="RegistrationConnectionString"
           connectionString="Server=DESKTOP-VFT03J3;Database=WeMet;Integrated Security=True;" 
           providerName="System.Data.SqlClient" />


    </connectionStrings>
    <system.web>
      <pages buffer="true" validateRequest="true"/>
      <customErrors mode="RemoteOnly"></customErrors>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

      <sessionState mode="InProc"></sessionState>
      <authentication mode="Forms">
        <forms loginUrl="login.aspx" name=".AspxFormAuth"></forms>
      </authentication>
      <authorization>

      </authorization>

    </system.web>

</configuration>
